body {
font-size: 16px;
color: #fff;
background-color: #61122f;
font-family: Oxygen;
 /*background-image: url("C:/Users/aYanda Mbuyazi/Downloads/bootstrap-4.5.3-dist/bootstrap-4.5.3-dist/css/jumbotron.jpg") ;*/

}



#header-nav{
	background-color: #f6b319;
	border-radius: 
	height: 100px;
	border: 0;
}

#logo-img{
position: absolute;
right: 89%;	
top: -15px;
width: 148px;
height: 105px;
margin: 10px 15px 10px 5px;
margin-left: 20px;
border-radius: 80px;
}

.navbar-brand{
	margin-right: 10px;
	margin-left: 60px;
	text-transform: uppercase;
	color: blue;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
.navbar-brand p span{
	vertical-align: middle;
}

div button{
     line-height: 12px;
     width: 80px;
     height: 75px;
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 1px;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;   
 }

 .navigation{
 	 position:absolute;
 	 top:0;
 	 right:0;
 	 border-radius: 30px;
 }

 .navigation a:hover, a:active{

            font-size: 18px;
            font-style: italic;
            color: #61122f;
}

.jumbotron {
	background-color: #61122f;
	border: 5px solid #3F0C1F;
	box-shadow: 0 0 70px #3F0C1F;
	height: 15px;
	font-size: 20px;
	}

 .jumbotron a:hover, a:active{

            font-size: 18px;
            font-style: italic;
            color: #f6b319;
            text-decoration: none;
             
}

#our-menu{
	position: absolute;
	top: 105px;
	left: 135px;
}

.specials{
	position: absolute;
	left: 0px;
	bottom: 190px;
	margin-top: 300px;
	background-color: #61122f;
	border: 5px solid #3F0C1F;
	box-shadow: 0 0 70px #3F0C1F;
	height: 250px;
	font-size: 20px;
	width: 100%;
}

#menu-tile, #specials-tile, #map-tile{
	height: 245px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
}
 
 #menu-tile:hover, #specials-tile:hover, #map-tile:hover{
 	box-shadow: 0 1px 5px 1px #cccccc;
 }
#menu-tile{
	background: url('C:/Users/aYanda Mbuyazi/Downloads/bootstrap-4.5.3-dist/bootstrap-4.5.3-dist/css/menu-pic.jpg') no-repeat;
	background-position: center;
	width: 100%
}
#specials-tile{
		background: url('C:/Users/aYanda Mbuyazi/Downloads/bootstrap-4.5.3-dist/bootstrap-4.5.3-dist/css/specials-pic.jpg') no-repeat;
	background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}



.pannel-footer{
	position: absolute;
	bottom: 0;
	top:400px;
	width: 100%;
	height: 230px;
	margin-top: 160px;
	padding-top: 20px;
	padding-bottom: 0px;
	background-color: #222;
	border-top: 2px solid black;
}

#hours, #address{
	line-height: 2;
}

#hours >span, #address > span {
	font-size: 1.3em;
}

#address p{
	color: #557c3e;
	font-size: .8em;
	line-height: 1.8;
}
#testimonials {
	font-style: italic;
}

#testimonials p:nth-child(2){
	margin-top: 25px;
}

.category-tile{
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin-left: 15px;
	margin: 0 auto 15px;
}

.category-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;

}
.category-tile:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
}

.menu-item-tile{
	margin-bottom: 25px;
}

.menu-item-tile .menu-item-price{
	font-size: 1.1em;
	text-align: right;
	margin-top: -15px;
	margin-right: -15px;
}

.menu-item-tile .menu-item-price span{
	font-size: .6em;
}

.menu-item-photo{
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	padding: 0;
	margin-right: -15px;
	margin-left:auto;
	margin-bottom: 20px;
	max-width: 200px;
}
.menu-item-photo div{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80px;
	background-color: #557c3e;
	text-align: center;

}

.menu-item-description{
	padding-right: 30px;
}
h3 .menu-tile.title{
	margin: 0 0 10px;
}
.menu-item-details{
	font-size: .9em;
	font-style: italic;
}
/*ter to code how side looks on diiferent devices*/ 
/*@media (min-width: 1200px){

}

@media (min-width: 992px) and (max-width: 1199px){
#logo-img{
	background: url(C:/Users/aYanda Mbuyazi/Downloads/bootstrap-4.5.3-dist/bootstrap-4.5.3-dist/css/logo-image.png);
	width: 100px;
	height: 100px;
	margin: 5px 5px 5px 0;
}
}

@media (min-width: 768px) and (max-width: 991px){

}

@media (max-width: 767px){
.nav-brand{
	padding-top: 10px;
	height: 80px;
	width: 700px;
}
.nav-brand >h1{
	position: absolute;
margin-bottom: 0px;
left: auto;
top: 0px;
font-size: 30px;
}
#logo-img {
	visibility: hidden;
}
.navigation{
	margin-top: 0px;
	margin-right: 320px;

}*/




